.card {
  margin: 20px;
  background-color: var(--gray-800);
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 500px;
  max-height: 550px;
  position: relative;
  transform: scale(1);
  transition: transform 0.5s;
}
.inactive {
  transform: scale(0.5); /* Adjust the scale value as needed */
  margin: 0 -100px; /* Adjust based on the desired space around the inactive card */
  transition:
    transform 0.5s,
    margin 0.5s; /* Smooth transition for both properties */
}

@media screen and (max-width: 1000px) {
  .card {
    margin: 20px 0px;

    width: 100%;
    height: min-content;
  }
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
  cursor: pointer;
}
.inactive:hover {
  transform: scale(0.55);
  transition: transform 0.5s;
  cursor: pointer;
}

.content {
  padding: 20px;
  color: var(--white);
}

.price {
  color: var(--primary-yellow);
  font-weight: bold;
  font-size: 20px;
}

.card_expanded {
  background-color: var(--gray-900);
  width: 800px;
  height: 800px;
  transition: transform 0.5s;
}
